<% content_for :title, "Импорт сервиса из GitHub" %>

<h1>Импорт сервиса из GitHub</h1>

<div class="card">
  <% if defined?(@errors) && @errors.present? %>
    <div class="form-errors">
      <strong><%= pluralize(@errors.size, 'ошибка') %></strong>
      <ul>
        <% @errors.each do |m| %>
          <li><%= m %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with url: import_github_services_path, method: :post, html: { class: 'form' } do |f| %>
    <div class="form-group">
      <label for="repo_url">Ссылка на репозиторий GitHub</label>
      <%= text_field_tag :repo_url, params[:repo_url], placeholder: 'https://github.com/owner/repo[ /tree/branch ]' %>
    </div>
    <div class="form-group">
      <label for="ref">Ветка/тег (опционально)</label>
      <%= text_field_tag :ref, params[:ref], placeholder: 'main' %>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Импортировать', class: 'btn primary' %>
      <%= link_to 'Отмена', services_path, class: 'btn' %>
    </div>
  <% end %>
</div>
