<%= render @service %>

<div style="margin-top:8px;">
  <% if user_signed_in? && current_user.role == 'admin' %>
    <%= link_to "Редактировать", edit_service_path(@service) %> |
    <%= link_to "Назад к сервисам", services_path %> |
    <%= button_to "Удалить сервис", @service, method: :delete, form: { style: 'display:inline' } %>
  <% else %>
    <%= link_to "Назад к сервисам", services_path %>
  <% end %>
  
</div>

<% if user_signed_in? && current_user.role == 'admin' %>
  <div class="card" style="margin-top:10px;">
    <h3>Загрузка локальных архивов</h3>
    <%= form_with url: upload_archives_service_path(@service), method: :post, html: { class: 'form', multipart: true } do |f| %>
      <div class="form-group">
        <label for="service_service_archive_file">service.zip</label>
        <%= file_field_tag 'service[service_archive_file]', accept: '.zip' %>
      </div>
      <div class="form-group">
        <label for="service_checker_archive_file">checker.zip</label>
        <%= file_field_tag 'service[checker_archive_file]', accept: '.zip' %>
      </div>
      <div class="form-actions">
        <%= submit_tag 'Загрузить', class: 'btn primary' %>
      </div>
    <% end %>
  </div>
<% end %>
