<div id="<%= dom_id team %>">
  <p>
    <%= avatar_image_tag(team.name, url: team.avatar_url) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>University:</strong>
    <% if team.university.present? %>
      <%= link_to team.university.name, team.university %>
    <% else %>
      &mdash;
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= team.website %>
  </p>

  <p>
    <strong>Captain:</strong>
    <% if team.captain.present? %>
      <%= link_to(team.captain.display_name, team.captain) %>
    <% else %>
      &mdash;
    <% end %>
  </p>

</div>
