<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>University:</strong>
    <%= team.university %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= team.website %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= team.avatar_url %>
  </p>

  <p>
    <strong>Captain:</strong>
    <%= team.captain_id %>
  </p>

</div>
