<div id="<%= dom_id user %>">
  <p>
    <%= avatar_image_tag(user.display_name.presence || user.user_name, url: user.avatar_url) %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= user.display_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= user.rating %>
  </p>

</div>
