<% content_for :title, "Игры" %>

<div class="toolbar">
  <div style="flex:1;">
    <div class="search-box">
      <span class="search-icon" aria-hidden="true"></span>
      <%= text_field_tag :games_search, '', id: 'games-search', class: 'js-search-input', placeholder: 'Поиск: название или организатор', data: { target: '.js-games-container' } %>
    </div>
  </div>
  <% if user_signed_in? && current_user.role == 'admin' %>
    <div style="flex:0;">
      <%= link_to "Создать игру", new_game_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

<% if @ongoing_games.any? %>
  <h2>Идут сейчас</h2>
  <div id="ongoing-games" class="list list--full js-games-container">
    <% @ongoing_games.each do |game| %>
      <%= render partial: 'game_banner', locals: { game: game } %>
    <% end %>
  </div>
<% end %>

<% if @upcoming_games.any? %>
  <h2>Скоро</h2>
  <div id="upcoming-games" class="list list--full js-games-container">
    <% @upcoming_games.each do |game| %>
      <%= render partial: 'game_banner', locals: { game: game } %>
    <% end %>
  </div>
<% end %>

<% if @past_games.any? %>
  <h2>Прошедшие</h2>
  <div id="past-games" class="list list--full js-games-container">
    <% @past_games.each do |game| %>
      <%= render partial: 'game_banner', locals: { game: game } %>
    <% end %>
  </div>
<% end %>
