<% content_for :title, "Игры" %>

<h1>Игры</h1>

<% if @ongoing_games.any? %>
  <h2>Идут сейчас</h2>
  <div id="ongoing-games">
    <% @ongoing_games.each do |game| %>
      <%= render game %>
      <p><%= link_to "Открыть", game %></p>
    <% end %>
  </div>
<% end %>

<% if @upcoming_games.any? %>
  <h2>Скоро</h2>
  <div id="upcoming-games">
    <% @upcoming_games.each do |game| %>
      <%= render game %>
      <p><%= link_to "Открыть", game %></p>
    <% end %>
  </div>
<% end %>

<% if @past_games.any? %>
  <h2>Прошедшие</h2>
  <div id="past-games">
    <% @past_games.each do |game| %>
      <%= render game %>
      <p><%= link_to "Открыть", game %></p>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? && current_user.role == 'admin' %>
  <%= link_to "Создать игру", new_game_path %>
<% end %>
