<div id="<%= dom_id service %>">
  <p>
    <strong>Name:</strong>
    <%= service.name %>
  </p>

  <p>
    <strong>Public description:</strong>
    <%= service.public_description %>
  </p>

  <p>
    <strong>Private description:</strong>
    <%= service.private_description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= service.author %>
  </p>

  <p>
    <strong>Copyright:</strong>
    <%= service.copyright %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= service.avatar_url %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= service.public %>
  </p>

</div>
