<%= render @service %>

<div style="margin-top:8px;">
  <% if user_signed_in? && current_user.role == 'admin' %>
    <%= link_to "Редактировать", edit_service_path(@service) %> |
    <%= link_to "Назад к сервисам", services_path %> |
    <%= button_to "Удалить сервис", @service, method: :delete, form: { style: 'display:inline' } %>
  <% else %>
    <%= link_to "Назад к сервисам", services_path %>
  <% end %>
  
</div>
