<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :organizer, style: "display: block" %>
    <%= form.text_field :organizer %>
  </div>

  <div>
    <%= form.label :starts_at, style: "display: block" %>
    <%= form.datetime_field :starts_at %>
  </div>

  <div>
    <%= form.label :ends_at, style: "display: block" %>
    <%= form.datetime_field :ends_at %>
  </div>

  <div>
    <%= form.label :avatar_url, 'Логотип (URL)', style: "display: block" %>
    <%= form.text_field :avatar_url %>
  </div>

  <div>
    <%= form.label :site_url, 'Сайт', style: "display: block" %>
    <%= form.text_field :site_url, placeholder: 'https://example.com' %>
  </div>

  <div>
    <%= form.label :ctftime_url, 'CTFtime', style: "display: block" %>
    <%= form.text_field :ctftime_url, placeholder: 'https://ctftime.org/event/…' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
