<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= game.organizer %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= game.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= game.ends_at %>
  </p>

</div>
