<div id="<%= dom_id team_membership %>">
  <p>
    <strong>Team:</strong>
    <%= team_membership.team_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= team_membership.user_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= team_membership.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= team_membership.status %>
  </p>

</div>
